In [1]:
# import libraries
import pandas as pd
import numpy as np

In [2]:
# read in the csv file as a pandas dataframe
LA = pd.read_csv("path_to_raw_csv")

In [3]:
# Checking the shape of data. It has 925,720 rows and 28 columns
LA.shape

(925720, 28)

In [4]:
# Counting duplicate rows. There are NONE
LA.duplicated().sum()

0

In [5]:
# Quick check on what the data looks like
LA

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925715,241605270,02/11/2024 12:00:00 AM,02/11/2024 12:00:00 AM,1920,16,Foothill,1681,2,888,TRESPASSING,...,AA,Adult Arrest,888.0,NaN,NaN,NaN,8700 SHARP AV,NaN,34.2278,-118.4051
925716,241604405,01/14/2024 12:00:00 AM,01/13/2024 12:00:00 AM,720,16,Foothill,1673,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,8700 LANKERSHIM BL,NaN,34.2271,-118.3878
925717,242106032,02/20/2024 12:00:00 AM,02/17/2024 12:00:00 AM,2330,21,Topanga,2103,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,NaN,NaN,NaN,22700 NAPA ST,NaN,34.2260,-118.6214
925718,242004546,01/16/2024 12:00:00 AM,01/16/2024 12:00:00 AM,1510,20,Olympic,2013,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,HOBART BL,3RD ST,34.0690,-118.3054
925719,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460

In [6]:
# Summary about the df
LA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 925720 entries, 0 to 925719
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           925720 non-null  int64
 1   Date Rptd       925720 non-null  object
 2   DATE OCC        925720 non-null  object
 3   TIME OCC        925720 non-null  int64
 4   AREA            925720 non-null  int64
 5   AREA NAME       925720 non-null  object
 6   Rpt Dist No     925720 non-null  int64
 7   Part 1-2        925720 non-null  int64
 8   Crm Cd          925720 non-null  int64
 9   Crm Cd Desc     925720 non-null  object
 10  Mocodes         796258 non-null  object
 11  Vict Age        925720 non-null  int64
 12  Vict Sex        802562 non-null  object
 13  Vict Descent    802552 non-null  object
 14  Premis Cd       925709 non-null  float64
 15  Premis Desc     925161 non-null  object
 16  Weapon Used Cd  319701 non-null  float64
 17  Weapon Desc     319701 non-null  object
 18  Status          925720 non-null  object
 19  Status Desc     925720 non-null  object
 20  Crm Cd 1        925709 non-null  float64
 21  Crm Cd 2        67237 non-null   float64
 22  Crm Cd 3        2260 non-null    float64
 23  Crm Cd 4        64 non-null      float64
 24  LOCATION        925720 non-null  object
 25  Cross Street    145226 non-null  object
 26  LAT             925720 non-null  float64
 27  LON             925720 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 197.8+ MB

In [7]:
# Changing the data types to datetime for 'Date Rptd'
LA['Date Rptd'] = pd.to_datetime(LA['Date Rptd'])

C:\Users\vince\AppData\Local\Temp\ipykernel_24008\3581393494.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  LA['Date Rptd'] = pd.to_datetime(LA['Date Rptd'])

In [8]:
# Check if it worked
LA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 925720 entries, 0 to 925719
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           925720 non-null  int64
 1   Date Rptd       925720 non-null  datetime64[ns]
 2   DATE OCC        925720 non-null  object
 3   TIME OCC        925720 non-null  int64
 4   AREA            925720 non-null  int64
 5   AREA NAME       925720 non-null  object
 6   Rpt Dist No     925720 non-null  int64
 7   Part 1-2        925720 non-null  int64
 8   Crm Cd          925720 non-null  int64
 9   Crm Cd Desc     925720 non-null  object
 10  Mocodes         796258 non-null  object
 11  Vict Age        925720 non-null  int64
 12  Vict Sex        802562 non-null  object
 13  Vict Descent    802552 non-null  object
 14  Premis Cd       925709 non-null  float64
 15  Premis Desc     925161 non-null  object
 16  Weapon Used Cd  319701 non-null  float64
 17  Weapon Desc     319701 non-null  object
 18  Status          925720 non-null  object
 19  Status Desc     925720 non-null  object
 20  Crm Cd 1        925709 non-null  float64
 21  Crm Cd 2        67237 non-null   float64
 22  Crm Cd 3        2260 non-null    float64
 23  Crm Cd 4        64 non-null      float64
 24  LOCATION        925720 non-null  object
 25  Cross Street    145226 non-null  object
 26  LAT             925720 non-null  float64
 27  LON             925720 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(7), object(12)
memory usage: 197.8+ MB

In [9]:
# Create a datetime with 'DATE OCC' and 'TIME OCC'

# Convert 'DATE OCC' to string
LA['DATE OCC'] = LA['DATE OCC'].astype(str)

# Convert 'TIME OCC' to string and format it to have ':' before the last two digits
LA['TIME OCC'] = LA['TIME OCC'].apply(lambda x: str(x).zfill(4)) # Pad with zeros to have 4 digits
LA['TIME OCC'] = LA['TIME OCC'].apply(lambda x: x[:-2] + ':' + x[-2:]) # Insert ':' before the last two digits

# Combine 'DATE OCC' and 'TIME OCC' into a single column
LA['datetime_OCC'] = pd.to_datetime(LA['DATE OCC'] + ' ' + LA['TIME OCC'])

C:\Users\vince\AppData\Local\Temp\ipykernel_24008\135286114.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  LA['datetime_OCC'] = pd.to_datetime(LA['DATE OCC'] + ' ' + LA['TIME OCC'])

In [10]:
# Check if it worked
LA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 925720 entries, 0 to 925719
Data columns (total 29 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           925720 non-null  int64
 1   Date Rptd       925720 non-null  datetime64[ns]
 2   DATE OCC        925720 non-null  object
 3   TIME OCC        925720 non-null  object
 4   AREA            925720 non-null  int64
 5   AREA NAME       925720 non-null  object
 6   Rpt Dist No     925720 non-null  int64
 7   Part 1-2        925720 non-null  int64
 8   Crm Cd          925720 non-null  int64
 9   Crm Cd Desc     925720 non-null  object
 10  Mocodes         796258 non-null  object
 11  Vict Age        925720 non-null  int64
 12  Vict Sex        802562 non-null  object
 13  Vict Descent    802552 non-null  object
 14  Premis Cd       925709 non-null  float64
 15  Premis Desc     925161 non-null  object
 16  Weapon Used Cd  319701 non-null  float64
 17  Weapon Desc     319701 non-null  object
 18  Status          925720 non-null  object
 19  Status Desc     925720 non-null  object
 20  Crm Cd 1        925709 non-null  float64
 21  Crm Cd 2        67237 non-null   float64
 22  Crm Cd 3        2260 non-null    float64
 23  Crm Cd 4        64 non-null      float64
 24  LOCATION        925720 non-null  object
 25  Cross Street    145226 non-null  object
 26  LAT             925720 non-null  float64
 27  LON             925720 non-null  float64
 28  datetime_OCC    925720 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(8), int64(6), object(13)
memory usage: 204.8+ MB

In [11]:
# Drop old columns
LA = LA.drop(columns=['DATE OCC', 'TIME OCC'])

In [12]:
# Drop unnecessary columns
LA = LA.drop(columns=['Crm Cd', 'Premis Cd', 'Crm Cd 1','Crm Cd 2', 'Weapon Used Cd', 'Status', 'Status Desc', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'AREA NAME', 'Rpt Dist No', 'Part 1-2', 'Mocodes', 'Date Rptd'])

In [13]:
# Check if it worked
LA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 925720 entries, 0 to 925719
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DR_NO         925720 non-null  int64
 1   AREA          925720 non-null  int64
 2   Crm Cd Desc   925720 non-null  object
 3   Vict Age      925720 non-null  int64
 4   Vict Sex      802562 non-null  object
 5   Vict Descent  802552 non-null  object
 6   Premis Desc   925161 non-null  object
 7   Weapon Desc   319701 non-null  object
 8   LAT           925720 non-null  float64
 9   LON           925720 non-null  float64
 10  datetime_OCC  925720 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(3), object(5)
memory usage: 77.7+ MB

In [14]:
# check for nulls, there were none in important columns, just sex, descent, premis, weapon ... those will be accounted for with an 'unknown' category later on

# List of columns to check for null values
columns = ['AREA', 'DR_NO', 'Crm Cd Desc', 'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Desc', 'Weapon Desc', 'LAT', 'LON', 'datetime_OCC']

# Loop through each column and print the count of null values
for col in columns:
    null_count = LA[col].isnull().sum()
    print(f'{col} null value count: {null_count}')

AREA null value count: 0
DR_NO null value count: 0
Crm Cd Desc null value count: 0
Vict Age null value count: 0
Vict Sex null value count: 123158
Vict Descent null value count: 123168
Premis Desc null value count: 559
Weapon Desc null value count: 606019
LAT null value count: 0
LON null value count: 0
datetime_OCC null value count: 0

In [15]:
# Check how many different premises we have
print(LA['Premis Desc'].nunique())

306

In [16]:
# Get the unique values in 'Premis Desc'
unique_values = LA['Premis Desc'].unique()

# Print each unique value on its own line
for value in unique_values:
    print(value)

STREET
BUS STOP/LAYOVER (ALSO QUERY 124)
MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)
CLOTHING STORE
SIDEWALK
SINGLE FAMILY DWELLING
CELL PHONE STORE
CYBERSPACE
WEBSITE
OTHER BUSINESS
PARKING LOT
OTHER RESIDENCE
AUTOMATED TELLER MACHINE (ATM)
DEPARTMENT STORE
PUBLIC STORAGE
GARAGE/CARPORT
EQUIPMENT RENTAL
OFFICE BUILDING/OFFICE
POLICE FACILITY
MTA BUS
SPECIALTY SCHOOL/OTHER
BANK
GOVERNMENT FACILITY (FEDERAL,STATE, COUNTY & CITY)
SKATING RINK*
BUS STOP
JUNIOR HIGH SCHOOL
OTHER/OUTSIDE
ALLEY
VEHICLE, PASSENGER/TRUCK
ABANDONED BUILDING ABANDONED HOUSE
TRANSPORTATION FACILITY (AIRPORT)
MOTEL
HOSPITAL
BUS, SCHOOL, CHURCH
OTHER PREMISE
STORAGE SHED
OTHER STORE
HIGH SCHOOL
MAIL BOX
HOTEL
NIGHT CLUB (OPEN EVENINGS ONLY)
FINANCE COMPANY
PARK/PLAYGROUND
HEALTH SPA/GYM
CHURCH/CHAPEL (CHANGED 03-03 FROM CHURCH/TEMPLE)
COLISEUM
DRIVEWAY
UNDERPASS/BRIDGE*
BANKING INSIDE MARKET-STORE *
TELECOMMUNICATION FACILITY/LOCATION
LAUNDROMAT
PORCH, RESIDENTIAL
CONDOMINIUM/TOWNHOUSE
GROUP HOME
PAY PHONE
NAIL SALON
TRAIN TRACKS
ELEMENTARY SCHOOL
OTHER PLACE OF WORSHIP
DIY CENTER (LOWE'S,HOME DEPOT,OSH,CONTRACTORS WAREHOUSE)
MISSIONS/SHELTERS
MUNICIPAL BUS LINE INCLUDES LADOT/DASH
POST OFFICE
MTA - EXPO LINE - JEFFERSON/USC
YARD (RESIDENTIAL/BUSINESS)
BUS-CHARTER/PRIVATE
GREYHOUND OR INTERSTATE BUS
BAR/COCKTAIL/NIGHTCLUB
TRANSITIONAL HOUSING/HALFWAY HOUSE
GAS STATION
TRASH CAN/TRASH DUMPSTER
DRUG STORE
RESTAURANT/FAST FOOD
BAR/SPORTS BAR (OPEN DAY & NIGHT)
NURSING/CONVALESCENT/RETIREMENT HOME
CREDIT UNION
AUTO SALES LOT
PARKING UNDERGROUND/BUILDING
MTA PROPERTY OR PARKING LOT
MEMBERSHIP STORE (COSTCO,SAMS CLUB)*
CAR WASH
AUTO REPAIR SHOP
MEDICAL/DENTAL OFFICES
ELECTRONICS STORE (IE:RADIO SHACK, ETC.)
LA UNION STATION (NOT LINE SPECIFIC)
MINI-MART
MARKET
SHOPPING MALL (COMMON AREA)
DAM/RESERVOIR
TRADE SCHOOL (MEDICAL-TECHNICAL-BUSINESS)*
MTA - RED LINE - VERMONT/BEVERLY
DAY CARE/CHILDREN*
PHARMACY INSIDE STORE OR SUPERMARKET*
DISCOUNT STORE (99 CENT,DOLLAR,ETC.
PATIO*
MTA - RED LINE - 7TH AND METRO CENTER
DELIVERY SERVICE (FED EX, UPS, COURIERS,COURIER SERVICE)*
MORTUARY
MTA - EXPO LINE - EXPO/LA BREA
SEX ORIENTED/BOOK STORE/STRIP CLUB/GENTLEMAN'S CLUB
MTA - ORANGE LINE - NORTH HOLLYWOOD
COFFEE SHOP (STARBUCKS, COFFEE BEAN, PEET'S, ETC.)
STUDIO (FILM/PHOTOGRAPHIC/MUSIC)
CONSTRUCTION SITE
BEAUTY/BARBER SHOP
VALET
LIQUOR STORE
PROJECT/TENEMENT/PUBLIC HOUSING
BEAUTY SUPPLY STORE
DRIVE THRU*
MTA - RED LINE - NORTH HOLLYWOOD
MTA - EXPO LINE - EXPO/VERMONT
BUS DEPOT/TERMINAL, OTHER THAN MTA
SKATEBOARD FACILITY/SKATEBOARD PARK*
CONVENTION CENTER
WAREHOUSE
DETENTION/JAIL FACILITY
NURSERY/FLOWER SHOP
MTA - PURPLE LINE - WILSHIRE/NORMANDIE
RECYCLING CENTER
STAIRWELL*
7TH AND METRO CENTER (NOT LINE SPECIFIC)
FRAT HOUSE/SORORITY/DORMITORY
TAXI
nan
FACTORY
TRANSIENT ENCAMPMENT
MTA - RED LINE - WESTLAKE/MACARTHUR PARK
THE GROVE
SINGLE RESIDENCE OCCUPANCY (SRO'S) LOCATIONS
COLLEGE/JUNIOR COLLEGE/UNIVERSITY
VETERINARIAN/ANIMAL HOSPITAL
CHECK CASHING*
ENERGY PLANT/FACILITY
AUTO SUPPLY STORE*
BEACH
MTA - EXPO LINE - EXPO/WESTERN
TUNNEL
THE BEVERLY CONNECTION
PUBLIC RESTROOM(INDOORS-INSIDE)
JEWELRY STORE
APARTMENT/CONDO COMMON LAUNDRY ROOM
SYNAGOGUE/TEMPLE
MTA - GOLD LINE - UNION STATION
PET STORE
MASSAGE PARLOR
PAWN SHOP
ELEVATOR
ENTERTAINMENT/COMEDY CLUB (OTHER)
HARDWARE/BUILDING SUPPLY
CLEANER/LAUNDROMAT
STAPLES CENTER *
MTA - BLUE LINE - WASHINGTON
FIRE STATION
LIBRARY
FURNITURE STORE
HIGH-RISE BUILDING
THE BEVERLY CENTER
TV/RADIO/APPLIANCE
TOBACCO SHOP
MTA - RED LINE - UNION STATION
AUTO DEALERSHIP (CHEVY, FORD, BMW, MERCEDES, ETC.)
SHORT-TERM VACATION RENTAL
MUSEUM
MTA - PURPLE LINE - CIVIC CENTER/GRAND PARK
MOBILE HOME/TRAILERS/CONSTRUCTION TRAILERS/RV'S/MOTORHOME
MTA - RED LINE - CIVIC CENTER/GRAND PARK
HOSPICE
MTA - ORANGE LINE - CHATSWORTH
MTA - EXPO LINE - LATTC/ORTHO INSTITUTE
MTA - PURPLE LINE - WILSHIRE/WESTERN
TOW YARD*
MTA - GOLD LINE - HIGHLAND PARK
MEDICAL MARIJUANA FACILITIES/BUSINESSES
MTA - RED LINE - UNIVERSAL CITY/STUDIO CITY
BALCONY*
DRIVE THRU BANKING (WINDOW)*
TOOL SHED*
GOLF COURSE*
FREEWAY
PRIVATE SCHOOL/PRESCHOOL
DAY CARE/ADULTS*
MTA - RED LINE - PERSHING SQUARE
SLIPS/DOCK/MARINA/BOAT
THEATRE/MOVIE
VEHICLE STORAGE LOT (CARS, TRUCKS, RV'S, BOATS, TRAILERS, ETC.)
CEMETARY*
MTA - EXPO LINE - FARMDALE
AIRCRAFT
OIL REFINERY
MTA - RED LINE - VERMONT/SUNSET
MTA - RED LINE - WILSHIRE/VERMONT
MTA - SILVER LINE - HARBOR FWY
VACANT LOT
WATER FACILITY
GUN/SPORTING GOODS
BASKETBALL COURTS
MTA - GREEN LINE - AVALON
MTA - BLUE LINE - 103RD/WATTS TOWERS
FOSTER HOME BOYS OR GIRLS*
MTA - RED LINE - VERMONT/SANTA MONICA
MTA - EXPO LINE - EXPO/SEPULVEDA
VISION CARE FACILITY*
MTA - PURPLE LINE - WILSHIRE/VERMONT
MTA - RED LINE - HOLLYWOOD/HIGHLAND
OTHER RR TRAIN (UNION PAC, SANTE FE ETC
MTA - BLUE LINE - VERNON
MTA - GREEN LINE - HARBOR FWY
PEDESTRIAN OVERCROSSING
MTA - SILVER LINE - HARBOR GATEWAY TRANSIT CTR
MTA - EXPO LINE - 7TH AND METRO CENTER
MTA - EXPO LINE - EXPO/BUNDY
MTA - RED LINE - HOLLYWOOD/VINE
SWAP MEET
SPORTS VENUE, OTHER
PUBLIC RESTROOM/OUTSIDE*
MTA - PURPLE LINE - WESTLAKE/MACARTHUR PARK
MTA - EXPO LINE - PALMS
MTA - BLUE LINE - SAN PEDRO
RIVER BED*
MTA - ORANGE LINE - RESEDA
MTA - SILVER LINE - ROSECRANS
MANUFACTURING COMPANY
TATTOO PARLOR*
OPTICAL OFFICE INSIDE STORE OR SUPERMARKET*
MTA - EXPO LINE - EXPO PARK/USC
MTA - ORANGE LINE - TAMPA
POOL-PUBLIC/OUTDOOR OR INDOOR*
SAVINGS & LOAN
METROLINK TRAIN
MTA - EXPO LINE - EXPO/CRENSHAW
HANDBALL COURTS
MTA - EXPO LINE - LA CIENEGA/JEFFERSON
MTA - BLUE LINE - GRAND/LATTC
MTA - BLUE LINE - PICO
AMUSEMENT PARK*
TRUCK, COMMERICAL
SPORTS ARENA
MTA - BLUE LINE - 7TH AND METRO CENTER
MTA - RED LINE - HOLLYWOOD/WESTERN
MTA - GOLD LINE - SOUTHWEST MUSEUM
TRAIN DEPOT/TERMINAL, OTHER THAN MTA
MTA - PURPLE LINE - UNION STATION
MTA - GOLD LINE - SOTO
BOWLING ALLEY*
MTA - ORANGE LINE - WOODMAN
MTA - EXPO LINE - PICO
MTA - ORANGE LINE - SHERMAN WAY
MTA - ORANGE LINE - VAN NUYS
BOOK STORE
MTA - ORANGE LINE - CANOGA
MTA - ORANGE LINE - NORDHOFF
MTA - PURPLE LINE - 7TH AND METRO CENTER
BANK DROP BOX/MONEY DROP-OUTSIDE OF BANK*
COMPUTER SERVICES/REPAIRS/SALES
MTA - GOLD LINE - LINCOLN/CYPRESS
ABATEMENT LOCATION
MTA - GOLD LINE - MARIACHI PLAZA
MTA - EXPO LINE - WESTWOOD/RANCHO PARK
TERMINAL, OTHER THAN MTA
MTA - SILVER LINE - SLAUSON
ABORTION CLINIC/ABORTION FACILITY*
MTA - ORANGE LINE - BALBOA
MUSCLE BEACH
MTA - PURPLE LINE - PERSHING SQUARE
MTA - ORANGE LINE - WOODLEY
MASS GATHERING LOCATION
MTA - GOLD LINE - HERITAGE SQ
MTA - GREEN LINE - AVIATION/LAX
RECORD-CD MUSIC/COMPUTER GAME STORE
MTA - ORANGE LINE - VALLEY COLLEGE
MTA - SILVER LINE - UNION STATION
SEWAGE FACILITY/PIPE
DODGER STADIUM
ARCADE,GAME ROOM/VIDEO GAMES (EXAMPLE CHUCKIE CHEESE)*
GARMENT MANUFACTURER
MTA - SILVER LINE - 37TH ST/USC
MTA - ORANGE LINE - LAUREL CANYON
MTA - GOLD LINE - CHINATOWN
MTA - GOLD LINE - INDIANA
CATERING/ICE CREAM TRUCK
METHADONE CLINIC
AMTRAK TRAIN
HORSE RACING/SANTA ANITA PARK*
MTA - SILVER LINE - DOWNTOWN STREET STOPS
VIDEO RENTAL STORE
MTA - SILVER LINE - PACIFIC COAST HWY
SURPLUS SURVIVAL STORE
MTA - ORANGE LINE - PIERCE COLLEGE
MTA - ORANGE LINE - ROSCOE
CULTURAL SIGNIFICANCE/MONUMENT
MTA - ORANGE LINE - SEPULVEDA
MTA - GOLD LINE - LITTLE TOKYO/ARTS DISTRICT
OTHER INTERSTATE, CHARTER BUS
MTA - GOLD LINE - PICO/ALISO
MOSQUE*
MTA - ORANGE LINE - DE SOTO
ESCALATOR*
TRAM/STREETCAR(BOXLIKE WAG ON RAILS)*
RETIRED (DUPLICATE) DO NOT USE THIS CODE
CHEMICAL STORAGE/MANUFACTURING PLANT
MTA - SILVER LINE - LAC/USC MEDICAL CENTER
DEPT OF DEFENSE FACILITY
TRAIN, OTHER THAN MTA (ALSO QUERY 809/810/811)
HOCKEY RINK/ICE HOCKEY
MTA - SILVER LINE - MANCHESTER
HARBOR FRWY STATION (NOT LINE SPECIFIC)

In [17]:
# Group premises into categories

# Define a dictionary where the keys are the new values and the values are lists of words that should be replaced by the key
replace_dict = {
    'School': ['SCHOOL', 'COLLEGE', 'UNIVERSITY'],
    'Dwelling': ['DWELLING', 'RESIDENCE', 'MOTEL', 'HOTEL', 'PORCH', 'RESIDENTIAL', 'TOWNHOUSE', 'CONDOMINIUM', 'HOME', 'NURSING', 'RETIREMENT', 'PATIO', 'HOUSING', 'APARTMENT', 'HOUSE', 'SHELTER', 'RENTAL', 'HOSPICE', 'DRIVE'],
    'Shop': ['STORE', 'SALON', 'GYM', 'BAR', 'CLUB', 'GAS', 'SHOP', 'MARKET', 'PHARMACY', 'STUDIO', 'PARLOR', 'SUPPLY', 'DEALERSHIP', 'MOVIE', 'THEATER', 'THEATRE', 'BOWLING', 'REPAIR', 'HOCKEY', 'STORAGE', 'RENTAL', 'RINK', 'SHED', 'LAUNDROMAT', 'RESTAURANT', 'MART', 'THRU', 'GOODS', 'SWAP', 'ARCADE'],
    'Parking': ['GARAGE', 'PARKING', 'CARPORT', 'LOT'],
    'Office': ['OFFICE', 'COMPANY', 'FACILITY', 'RISE'],
    'Transport': ['BUS', 'STATION', 'MTA', 'METRO', 'TAXI', 'TERMINAL', 'PLANE', 'TRAIN'],
    'Bank': ['BANK', 'BANKING', 'ATM', 'CASH', 'LOAN', 'CREDIT'],
    'Vehicle': ['VEHICLE', 'CAR', 'TRUCK'],
    'Medical': ['HOSPITAL', 'VETERINARIAN', 'CLINIC'],
    'Church': ['CHURCH', 'CHAPEL', 'WORSHIP', 'MOSQUE', 'TEMPLE', 'MONUMENT'],
    'Gov_Building': ['GOVERNMENT', 'JAIL', 'DETENTION', 'PRISON', 'FIRE', 'POLICE', 'MUSEUM', 'DAM', 'RECYCLING', 'LIBRARY'],
    'Park': ['BEACH', 'PARK', 'GOLF', 'CEMETARY', 'COURTS'],
    'Stadium': ['STADIUM', 'COLISEUM', 'CONVENTION', 'STAPLES', 'VENUE', 'ARENA', 'MASS', 'BEVERLY'],
    'Street': ['STREET', 'SIDEWALK', 'OUTSIDE', 'ALLEY', 'PREMISE', 'BRIDGE', 'ENCAMPMENT', 'FREEWAY', "DUMPSTER", 'PUBLIC', 'CROSS']
}

# List to store values to be replaced
to_replace = []

# Iterate over the dictionary to populate values to be replaced
for values in replace_dict.values():
    to_replace.extend(values)

# Replace values found in the dictionary
LA['Premis Desc'] = LA['Premis Desc'].apply(lambda x: next((k for k, v in replace_dict.items() if isinstance(x, str) and any(word in x for word in v)), x))

# Replace values not found in any dictionary with 'Other'
LA['Premis Desc'] = np.where(~LA['Premis Desc'].isin(replace_dict.keys()), 'Other', LA['Premis Desc'])

In [18]:
# Check if there were any values left out

# Define a list of values to exclude
exclude_list = ['School', 'Dwelling', 'Shop', 'Parking', 'Office', 'Transport', 'Bank', 'Vehicle', 'Abandoned', 'Medical', 'Church', 'Gov_Building', 'Park', 'Stadium', 'Street']

# Get the unique values in 'Premis Desc'
unique_values = LA['Premis Desc'].unique()

# Print each unique value on its own line, excluding values in exclude_list
for value in unique_values:
    if value not in exclude_list:
        print(value)

Other

In [19]:
# Group weapons into categories

# Define a dictionary where the keys are the new values and the values are lists of words that should be replaced by the key
replace_dict = {
    'Toy': ['AIR', 'TOY'],
    'Body': ['STRONG', 'FEET', 'BODY', 'BODILY'],
    'Vehicle': ['CAR', 'TRUCK', 'BIKE', 'BICYCLE', 'VEHICLE'],
    'Blade': ['KNIFE', 'BLADE', 'MACHETE', 'CUT', 'RAZOR', 'SCISSORS', 'CLEAVER', 'AXE', 'DIRK', 'DAGGER', 'SWORD', 'SYRINGE', 'ARROW', 'PICK'],
    'Object': ['MACE', 'PEPPER', 'CLUB', 'BAT', 'STICK', 'HAMMER', 'PIPE', 'ROCK', 'FIRE', 'BOTTLE', 'KNUCKLES', 'BLUNT', 'BOARD', 'STUN', 'SCREW', 'BLOCK', 'BRICK', 'CHEMICAL', 'POISON', 'LIQUID', 'TIRE', 'GLASS', 'MARTIAL ARTS', 'ROPE', 'EXPLOXIVE', 'DRUGS', 'ANIMAL', 'UNKNOWN WEAPON', 'BELT', 'FIXED OBJECT', ],
    'Firearm': ['GUN', 'FIREARM', 'PISTOL', 'REVOLVER', 'RIFLE', 'SHOTGUN', 'UZI', 'AK', 'MAC-11', 'MAC-10'],
    'None': ['PRESENCE', 'NOTE', 'BOMB THREAT', 'BLACKJACK', 'VERBAL']
}

# List to store values to be replaced
to_replace = []

# Iterate over the dictionary to populate values to be replaced
for values in replace_dict.values():
    to_replace.extend(values)

# Replace values found in the dictionary
LA['Weapon Desc'] = LA['Weapon Desc'].apply(lambda x: next((k for k, v in replace_dict.items() if isinstance(x, str) and any(word in x for word in v)), x))

# Replace Null values with 'None'
LA['Weapon Desc'] = LA['Weapon Desc'].fillna('None')

In [20]:
# Check if there were any values left out

# Define a list of values to exclude
exclude_list = ['None', 'Body', 'Vehicle', 'Object', 'Firearm', 'Blade', 'Toy']

# Get the unique values in 'Weapon Desc'
unique_values = LA['Weapon Desc'].unique()

# Print each unique value on its own line, excluding values in exclude_list
for value in unique_values:
    if value not in exclude_list:
        print(value)

In [21]:
# Group crimes into categories

# Define a dictionary where the keys are the new values and the values are lists of words that should be replaced by the key
replace_dict = {
    'Animal_Abuse': ['ANIMAL', 'BESTIALITY'],
    'Abuse&Trafficking': ['ABUSE', 'TRAFFICKING', 'IMPRISONMENT', 'CHILD', 'PIMPING', 'KIDNAP', 'CHLD'],
    'Theft': ['THEFT', 'BURGLARY', 'STOLEN', 'ROBBERY', 'FRAUD', 'PICKPOCKET', 'SNATCH', 'SHOPLIFTING', 'TILL'],
    'Weapon': ['BATTERY', 'ASSAULT', 'WEAPON', 'FIREARM', 'SHOTS'],
    'Sexual': ['SODOMY', 'SEXUAL', 'PENIS', 'ANUS', 'SEX', 'LEWD', 'ORAL COPULATION', 'RAPE', 'PEEPING', 'EXPOSURE', 'PORN', 'PROWL', 'INCEST'],
    'Non_violent': ['LETTERS', 'THREAT', 'CONTEMPT', 'COMPUTER', 'RESTRAINING ORDER', 'VANDALISM', 'EXTORTION', 'ARSON', 'PEACE', 'BUNCO', 'COURT', 'REPORT', 'CONTRIBUTING', 'STALKING', 'TRESPASS', 'PANDERING', 'ARREST', 'YIELD', 'BOMB', 'DRIVING', 'DUMPING', 'CONSPIRACY', 'BRIBERY', 'DRUNK', 'DISRUPT', 'PROPERTY', 'RIOT', 'WRECKING', 'OTHER', 'THROWING', 'DOCUMENT', 'COUNTERFEIT', 'DISPERSE', 'CENTER', 'BIGAMY'],
    'Homicide': ['HOMICIDE', 'LYNCHING', 'MANSLAUGHTER'],
    'Drug': ['DRUG']
}

# List to store values to be replaced
to_replace = []

# Iterate over the dictionary to populate values to be replaced
for values in replace_dict.values():
    to_replace.extend(values)

# Replace values found in the dictionary
LA['Crm Cd Desc'] = LA['Crm Cd Desc'].apply(lambda x: next((k for k, v in replace_dict.items() if isinstance(x, str) and any(word in x for word in v)), x))

In [22]:
# Check if there were any values left out

# Define a list of values to exclude
exclude_list = ['Animal_Abuse', 'Abuse&Trafficking', 'Theft', 'Weapon', 'Sexual', 'Non_violent', 'Homicide', 'Drug']

# Get the unique values in 'Crm Cd Desc'
unique_values = LA['Crm Cd Desc'].unique()

# Print each unique value on its own line, excluding values in exclude_list
for value in unique_values:
    if value not in exclude_list:
        print(value)

In [23]:
# Rename descent codes and group

# Define a dictionary where the keys are the new values and the values are lists of words that should be replaced by the key
replace_dict = {
    'Other_asian': ['A'],
    'Black': ['B'],
    'Chinese': ['C'],
    'Cambodian': ['D'],
    'Filipino': ['F'],
    'Guamanian': ['G'],
    'Hispanic': ['H'],
    'American_indian': ['I'],
    'Japanese': ['J'],
    'Korean': ['K'],
    'Laotian': ['L'],
    'Other': ['O', 'X', '-'],
    'Pacific_islander': ['P'],
    'Samoan': ['S'],
    'Hawaiian': ['U'],
    'Vietnamese': ['V'],
    'White': ['W'],
    'Asian_indian': ['Z']
}

# List to store values to be replaced
to_replace = []

# Iterate over the dictionary to populate values to be replaced
for values in replace_dict.values():
    to_replace.extend(values)

# Replace values found in the dictionary
LA['Vict Descent'] = LA['Vict Descent'].apply(lambda x: next((k for k, v in replace_dict.items() if isinstance(x, str) and any(word in x for word in v)), x))

# Replace Null values with 'Other'
LA['Vict Descent'] = LA['Vict Descent'].fillna('Other')

In [24]:
# Check if there were any values left out

# Define a list of values to exclude
exclude_list = ['Other_asian', 'Black', 'Chinese', 'Cambodian', 'Filipino', 'Guamanian', 'Hispanic', 'American_indian', 'Japanese', 'Korean', 'Laotian', 'Other', 'Pacific_islander', 'Samoan', 'Hawaiian', 'Vietnamese', 'White', 'Asian_indian']

# Get the unique values in 'Vict Descent'
unique_values = LA['Vict Descent'].unique()

# Print each unique value on its own line, excluding values in exclude_list
for value in unique_values:
    if value not in exclude_list:
        print(value)

In [25]:
# Check 'Vict Sex' column for errors

# Define a list of values to exclude
exclude_list = ['M', 'F', 'X']

# Get the unique values in 'Vict Sex'
unique_values = LA['Vict Sex'].unique()

# Print each unique value on its own line, excluding values in exclude_list
for value in unique_values:
    if value not in exclude_list:
        print(value)

nan
H
-

In [26]:
# Group unknown sex codes

# Define a dictionary where the keys are the new values and the values are lists of words that should be replaced by the key
replace_dict = {
    'Unknown': ['X', 'H', '-']
}

# List to store values to be replaced
to_replace = []

# Iterate over the dictionary to populate values to be replaced
for values in replace_dict.values():
    to_replace.extend(values)

# Replace values found in the dictionary
LA['Vict Sex'] = LA['Vict Sex'].apply(lambda x: next((k for k, v in replace_dict.items() if isinstance(x, str) and any(word in x for word in v)), x))

# Replace Null values with 'Unknown'
LA['Vict Sex'] = LA['Vict Sex'].fillna('Unknown')

In [27]:
# Check if there were any values left out

# Define a list of values to exclude
exclude_list = ['M', 'F', 'Unknown']

# Get the unique values in 'Premis Desc'
unique_values = LA['Vict Descent'].unique()

# Print each unique value on its own line, excluding values in exclude_list
for value in unique_values:
    if value not in exclude_list:
        print(value)

Other
Hispanic
Black
White
Other_asian
Chinese
Korean
Japanese
Filipino
American_indian
Vietnamese
Samoan
Pacific_islander
Asian_indian
Guamanian
Hawaiian
Cambodian
Laotian

In [28]:
# Create a new column for area names
LA['AREA_NAME'] = LA['AREA'].astype(str)

# Define a dictionary where the keys are the new values and the values are lists of words that should be replaced by the key
replace_dict = {
    'Central': ['1'],
    'Ranpart': ['2'],
    'Southwest': ['3'],
    'Hollenbeck': ['4'],
    'Harbor': ['5'],
    'Hollywood': ['6'],
    'Wilshire': ['7'],
    'West LA': ['8'],
    'Van Nuys': ['9'],
    'West Valley': ['10'],
    'Northeast': ['11'],
    '77th St.': ['12'],
    'Newton': ['13'],
    'Pacific': ['14'],
    'North Hollywood': ['15'],
    'Foothill': ['16'],
    'Devonshire': ['17'],
    'Southeast': ['18'],
    'Mission': ['19'],
    'Olympic': ['20'],
    'Topanga': ['21']
}

# List to store values to be replaced
to_replace = []

# Iterate over the dictionary to populate values to be replaced
for values in replace_dict.values():
    to_replace.extend(values)

# Replace values found in the dictionary
LA['AREA_NAME'] = LA['AREA_NAME'].apply(lambda x: next((k for k, v in replace_dict.items() if isinstance(x, str) and x in v), x))

In [29]:
# Inspect final data frame
LA

,DR_NO,AREA,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Desc,LAT,LON,datetime_OCC,AREA_NAME
0,190326475,7,Theft,0,M,Other,Street,None,34.0375,-118.3506,2020-03-01 21:30:00,Wilshire
1,200106753,1,Theft,47,M,Other,Transport,None,34.0444,-118.2628,2020-02-08 18:00:00,Central
2,200320258,3,Theft,19,Unknown,Other,Dwelling,None,34.0210,-118.3002,2020-11-04 17:00:00,Southwest
3,200907217,9,Theft,19,M,Other,Shop,None,34.1576,-118.4387,2020-03-10 20:37:00,Van Nuys
4,220614831,6,Theft,28,M,Hispanic,Street,None,34.0944,-118.3277,2020-08-17 12:00:00,Hollywood
...,...,...,...,...,...,...,...,...,...,...,...,...
925715,241605270,16,Non_violent,79,M,Other,Dwelling,None,34.2278,-118.4051,2024-02-11 19:20:00,Foothill
925716,241604405,16,Weapon,36,M,Hispanic,Street,Blade,34.2271,-118.3878,2024-01-13 07:20:00,Foothill
925717,242106032,21,Theft,44,F,Other,Dwelling,None,34.2260,-118.6214,2024-02-17 23:30:00,Topanga
925718,242004546,20,Weapon,80,F,Other,Transport,Body,34.0690,-118.3054,2024-01-16 15:10:00,Olympic
925719,240104953,1,Non_violent,0,Unknown,Other,Dwelling,Object,34.0685,-118.2460,2024-01-15 01:00:00,Central

In [30]:
# export as an excel file
# LA.to_excel('path_to_save_file', index=False)